<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-left ion-chevron-left" ng-click="$ionicGoBack()"></button>
  	<h1 class="title">Resource</h1>
  	<a class="button button-clear icon-right ion-edit" ng-href="#/resource/edit/{{ model.id }}"></a>
  </ion-nav-buttons>
  <ion-content padding="true">
	<label class="item item-input">
		<span class="input-label">Name</span>
		{{ model.name }}
	</label>
	<label class="item item-input">
		<span class="input-label">Location</span>
		{{ model.location }}
	</label>
	<label class="item item-input">
		<span class="input-label">Contact No.</span>
		{{ model.contactNo }}
	</label>
	<label class="item item-input">
		<span class="input-label">Capacity</span>
		{{ model.capacity }}
	</label>
	<label class="item item-input">
		<span class="input-label">UC Facility</span>
		{{ model.ucFacility }}
	</label>
	<label class="item item-input">
		<span class="input-label">Admin acceptance</span>
		{{ model.adminAccept }}
	</label>
	<label class="item item-input">
		<span class="input-label">Owner</span>
		{{ model.createdBy.username }}
	</label>
  </ion-content>
</ion-view>