<ion-view>
	<ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class='title'>Timeslot</h1>
      <div class="buttons">
        <button class="button icon-right ion-plus-round" on-tap="$event.stopPropagation(); create()"></button>
      </div>	
    </ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="model in collection.models" ng-class="model.$hasChanged() ? 'dirty' : ''">				
				<div class='row'>
					<div class='col'>
						{{model.name}}
					</div>
				</div>
				<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit('{{model.id}}')">Edit</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.page < collection.state.total_page" on-infinite="loadMore()">
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>