<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear icon-left ion-close-round" ng-click="close()"></button>    
    <h1 class="title">{{'Edit' | translate}}{{'Reservation' | translate}}</h1>
    <button class="button button-clear icon-right ion-checkmark-round" ng-click="save()"></button>
  </ion-header-bar>
  <ion-content padding="true">	   
	<label class="item item-input">
	  <span class="input-label">{{'Purpose' | translate}}</span>
	  <input type="text" ng-model="model.purpose">
	</label>	
  </ion-content>
</ion-modal-view>