<ion-view direction="xy">
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>{{'Reservation' | translate}}</h1>
	</ion-nav-buttons>
	
	<ion-content direction="xy">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="search" placeholder="{{'Search' | translate}}" ng-model="inputFilter">
		</label>
		<div class='row'>
			<button class="button icon-center ion-chevron-left button-clear button-dark nav-day" on-tap="$event.stopPropagation(); previousDay()"></button>			
			<div class="col-66 datepicker">
				<ionic-datepicker input-obj="datepickerObject">
				  <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd / MM / yyyy'}}</button>
				</ionic-datepicker>
			</div>	
			<button class="button icon-center ion-chevron-right button-clear button-dark nav-day" on-tap="$event.stopPropagation(); nextDay()"></button>
		</div>
		<div>
			<table id="reservationList">
				<tr>
					<th></th>
					<th class="th-timeslot" ng-repeat="timeslot in timeslotList.models">{{timeslot.name}}</th>
				</tr>
				<tr ng-repeat="group in resourceList.models | filter: inputFilter">
					<td class="td-resource"><a href="" ng-click="modalViewResource(group)"><b>{{group.name}}</b></a> <div class="location" ng-bind="group.location"></div></td>
					<td ng-repeat="item in group.timeslot.models" class="tableItem">
						<span ng-if="item.reservedBy && item.reservedBy.username === user.username"><i class="icon-person-color ion-person"></i></span>
						<span ng-if="item.reservedBy && item.reservedBy.username != user.username"><a class="button button-small button-clear button-assertive ion-person" ng-click="modalViewUser(item.reservedBy)"></a></span>
						<div ng-if="!item.reservedBy"><a class="button button-small button-clear button-balanced ion-person-add" ng-click="create(group.id, item.date, item.id)"></a></div>
					</td>				
				</tr>	
			</table>			
		</div>	
	</ion-content>
</ion-view>